/**
 * Editor-specific Styles for Tagebuch Block
 */

.wp-block-rueckenwinde-tagebuch {
    border: 1px dashed #ccc;
    padding: 1rem;
    background-color: #fafafa;
}

.wp-block-rueckenwinde-tagebuch:hover {
    border-color: #5a2d82;
    background-color: #f5f5f5;
}
