html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	min-height: 100vh;
	scrollbar-width: none;
	box-sizing: border-box;
	background: none !important;
}

html *:not(.fas) {
	font-family:'Palatino', 'Open Sans', helvetica, 'helvetica neue', arial, sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar { 
    display: none; 
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	position: relative;

	/* background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 37%, rgba(0,0,0,0.3) 47%, rgba(0,0,0,0.84) 73%, rgba(0,0,0,0.98) 88%, rgba(0,0,0,1) 90%) !important; FF3.6-15 */
	/* background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 37%,rgba(0,0,0,0.3) 47%,rgba(0,0,0,0.84) 73%,rgba(0,0,0,0.98) 88%,rgba(0,0,0,1) 90%) !important; Chrome10-25,Safari5.1-6 */
	/* background: linear-gradient(to bottom, rgba(0,0,0,0.2) 37%,rgba(0,0,0,0.3) 47%,rgba(0,0,0,0.84) 73%,rgba(0,0,0,0.98) 88%,rgba(0,0,0,1) 90%) !important; W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#000000',GradientType=0 ) !important;  */
    min-height: 100vh;
}

.blog main article a h2,
.search-results main article h2,
.archive main article h2{
	color: white;
}

#secondary *,
.blog main article p,
.entry-content p 
.search-results main article p,
.archive main article p,
.single .comment-content p {
	color: white;
	word-break: normal;
}

.single .content-area h1,
.single .content-area h2, 
.single .content-area h3 {
	color: black;
}

#secondary span.srpw-post-title {
	color: whitesmoke !important;
}

#commentform .comment-notes,
#commentform label {
	color: black;
}

.footer-widgets-container {
	text-align: center;
	margin-top: 15px;
	padding-top: 20px;
}

.footer-container, .footer-widgets-container {
	background:#232323;
}

.main-navigation ul ul {
	background:#232323;
}


.blog main article p,
.search-results main article p,
.archive main article p,
.entry-content p,
.comment-content p {
	font-size: 18px;
}

.home > #page, .search > #page {
	min-height: calc(100vh - 70px);
	margin-bottom: 0;
}

/* Navigation */
body.home .navigation-wrapper,
body.post-type-archive-reisen .navigation-wrapper,
body.category-reisen .navigation-wrapper,
body.post-type-archive-paragliding .navigation-wrapper,
body.category-paragliding .navigation-wrapper,
body.post-type-archive-vanlife .navigation-wrapper,
body.category-vanlife .navigation-wrapper,
body.single .navigation-wrapper {
	background: transparent !important;
	position: absolute;
	top: 0;
	z-index: 4;
	width: 100%;
}

body.home .navigation-wrapper,
body.archive .navigation-wrapper,
body.page .navigation-wrapper {
	box-shadow: none;
}

body.archive .navigation-wrapper,
body.page .navigation-wrapper,
body.search .navigation-wrapper,
body.error404 .navigation-wrapper {
	background: #232323;
}

.navigation-wrapper .glass {
	display: none;
}

.single .navigation-wrapper .glass {
	display: block;
}

.site-branding {
	text-align: left;
}

.site-branding {
	z-index: 4;
}

.logo-container {
	width: 100%;
}

.site-title h1,h2 {
	margin: 0;
	color: white;
	font-size: 1.5em;
}

/* 
.site-title div {
	transition: all 2s ease;
	display: inline;
}

.site-title:hover div {
	margin-left: 20%;
}
 */
/* .site-branding:hover i {
	animation: shake 0.5s;
  
	animation-iteration-count: infinite;
}
  
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
} */

#primary-menu.menu {
	display: block;
	flex: none;
}

#site-navigation .menu .page_item a,
#site-navigation .menu .menu-item a {
	font-size: 1.5em;
	line-height: 47px;
}

.content-wrap {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.glass {
	background-image: linear-gradient(180deg,#000000 35%,#ffffff 120%);
	opacity: .3;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.bottom-header-wrapper {
	position: relative;
	padding: 17% 0 15%;
	text-align: center;
	background-image: url("https://www.rueckenwin.de/wp-content/uploads/2023/10/RueckenwindeBlackAndWhite.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 17%;
}

.site-description {
	padding: 0 0 50px;
	font-size: 3em;
}

.home #page {
	margin-top: 85px;
}

#page {
 	margin-top: 31px;
}

.single #page {
	margin-top: 29px;
	margin-bottom: 0;
}

.single .navigation-wrapper {
	margin-top: -30px;
}

.master-box {
	margin: -5% 16% 0 16%;
	text-align: center;
	height: 150px;
	width: 68%;
	z-index: 999;
	position: absolute;
}

.master-box h4 {
	font-size: 1.8em;
	margin-top: 0;
}

.master-box p {
	margin-bottom: 0;
}

.master {
	width: 29%;
	height: 100%;
	display: inline-block;
	box-shadow: 0 0 70px -15px rgba(0,0,0,.65);
}

.master:not(:first-child) {
	margin-left: 5%;
}

.master .icon {
	display: inline-block;
	width: 36%;
	height: 100%;
	float: left;
}

.master .icon i {
	position: relative;
	font-size: 80px;
	top: 50%;
	transform: translateY(-50%);
}

.master .content {
	position: relative;
	display: inline-block;
	width: 60%;
	top: 50%;
	transform: translateY(-50%);
}

.category-description {
	width: 100%;
	padding: 15px;
	margin-bottom: 31px;
	text-align: center;
}

.random-posts {
	display: flex;
	flex-wrap: wrap;
}

.no-results {
	width: 100%;
}

.no-results .is-search-form {
	margin-bottom: 31px;
}

.social-icons a:last-child {
	padding-right: 0;
}

.footer-container {
    clear: both;
    text-align: center;
}

.astm-search-menu {
	margin: 0;
}

.footer-menu {
	float: left;
}

.footer-menu li:first-child a {
	margin-left: 0px;
}

/* Sidebar */
#secondary ul {
	word-break: break-all;
}

#secondary .catch-instagram-feed-gallery-widget-wrapper .item {
	width: 50%;
}

#secondary .catch-instagram-feed-gallery-widget-wrapper.default .item:nth-child(3n+1) {
	clear: none;
}

#secondary .widget .affiliate-hinweis.has-black-color * {
	color: black;
}

#secondary .widget .wp-block-heading {
	color: black;
}

#secondary .yotu-playlist {
	padding: 0;
}

#secondary .yotu-button-prs {
	background: none;
	padding: 5px;
}

/* Single blog post & pages */
.post-thumbnail {
	margin-top: -29px;
}

.post-thumbnail img {
	object-fit: cover;
}

.comments-area .edit-link .comment-edit-link {
	position: relative;
	top: 0;
}

.comments-area .comment-content {
    padding-left: 0px;
    margin-bottom: 0px;
}

.comments-area #cancel-comment-reply-link {
	padding-left: 80px;
}

.comments-area .comment-awaiting-moderation {
    color: rgb(249, 223, 169);
    margin-left: 20px;
}

.blog main article .img-prison,
.search-results main article .img-prison,
.archive main article .img-prison {
	height: 132px;
	overflow: hidden;
}

.blog main article,
.search-results main article,
.archive main article {
	box-shadow: 0 0px 10px rgba(0,0,0,0.1);
	background: white;
}

.blog main article:first-child,
.search-results main article:first-child,
.archive main article:first-child {
	width: 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.blog main article:not(:first-child):nth-child(2n+1),
.search-results main article:not(:first-child):nth-child(2n+1),
.archive main article:not(:first-child):nth-child(2n+1) {
	margin-left: 4%;
}

.blog main article img,
.search-results main article img,
.archive main article img{
	height: 132px;
	object-fit: cover;
	transition: transform 1s ease-in-out;
}

.blog main article:hover img,
.search-results main article:hover img,
.archive main article:hover img{
	transform: scale(1.2);
}

#secondary .widget *,
#secondary .srpw-title {
	font-size: 16px !important;
}

.blog,
.search-results,
.archive {
	background:none;
}

/* Recent post widget */

#secondary .srpw-img img {
	border-radius: 100%;
}

#secondary .srpw-summary p,
#secondary .srpw-summary a {
	display: inline;
}

.blog.related-posts main {
    width: 100%;
}

.comments-title {
    margin-top: 0px;
}

.post-thumbnail img {
    width: 100%;
    height: auto;
    max-height: 300px;
}

#gdpr-comments-checkbox + label {
    color: #5d5d5d;
}

input[type="search"], input[type="submit"] {
    color: rgb(51, 51, 51) !important;
}

.field-wrap input[type="button"] {
	color: #333 !important;
}

nf-field .submit-container input[type="button"] {
	background: white;
	box-shadow: 0 0 70px -15px rgba(0,0,0,.65);
}

#about {
	margin: 50px 0 50px 0;
	padding: 50px 0 50px 0;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

#about #picture {
	height: 100%;
	width: 20%;
	float: left;
	padding-left: 5%;
}

#about #picture img {
	border-radius: 100%;
}

#about #post {
	float: left;
	width: 80%;
	height: 100%;
	padding-right: 5%;
	padding-left: 5%;
}

#about p {
	margin-bottom: 0;
}

.site-info {
	padding-top: 15px;
}

.credits {
	color: white;
	float: right;
	font-size: 12px;
	padding-top: 2px;
}

.credits a {
	color: white;
}

.nf-form-content button, .nf-form-content input[type="button"], .nf-form-content input[type="submit"] {
	background: none;
}

@media screen and (max-width: 86em) {
	.master-box {
		margin: -5% 8% 0 8%;
		width: 84%;
	}

	.home #page {
		margin-top: 115px;
	}

	.is-form-style {
		position: inherit;
	}
}

@media screen and (max-width: 64em) {
	#primary-menu {
		display: none !important;
	}

	button.iot-menu-left-open {
		display: block;
	}

	.master-box {
		position: relative;
		margin: 0;
		width: 100%;
		z-index: 0;
	}

	.master {
		width: 33%;
		box-shadow: none;
	}

	.master:not(:first-child) {
		margin-left: 0%;
		border-left: solid 1px;
	}

	.master .icon {
		width: 30%;
	}

	.master p {
		font-size: 1.2em;
	}

	.home #page {
		margin-top: 20px;
	}

	.blog main article:not(:first-child):nth-child(2n+1),
	.search-results main article:not(:first-child):nth-child(2n+1),
	.archive main article:not(:first-child):nth-child(2n+1) {
		margin-left: 0;
	}
}


@media screen and ( max-width: 892px ) {
	.master {
		float: left;
	}
}

@media screen and ( max-width: 767px ) and ( orientation: landscape ) {
	.bottom-header-wrapper {
		padding: 20% 0 25%;
	} 
}

@media screen and ( max-width: 767px ) and ( orientation: portrait ) {
	.bottom-header-wrapper {
		padding: 25% 0 67%;
	} 
}

@media screen and ( max-width: 767px ) {
	.bottom-header-wrapper {
		background-size: 36%;
	}

	.master {
		display: block;
		float: none;
		width: 100%;
		padding-top: 35px;
	}

	.master .content, .master .icon i {
		top: 0;
		transform: none;
	}

	.master:not(:first-child) {
		border-top: solid 1px;
		border-left: none;
	}

	.home #page .site-content.grid-x {
		margin: 0;
		width: 100%;
		margin-top: 315px;
	}

	#about #picture {
		width: 100%;
		float: none;
		height: auto;
		text-align: center;
		padding-bottom: 25px;
	}
	
	#about #post {
		height: 100%;
		width: 100%;
		float: none;
	}

}

@media screen and ( max-width: 575px ) {
	.bottom-header-wrapper {
		background-size: 60%;
	}
}
