/* @font-face {
    font-family: 'Nerkoone';
    src: url('fonts/nerkoone/NerkoOne-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
 } */

@font-face {
    font-family: 'LeagueSpartan';
    src: url('fonts/League_Spartan/static/LeagueSpartan-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

/* Colors */
.site-info .credits a,
.site-info .credits,
.master .content p,
.site-title h1,
.site-title h2,
.blog main article a h2,
.search-results main article a h2,
.archive main article a h2,
#secondary *,
.blog main article p,
.entry-content p,
.search-results main article p,
.archive main article p,
.single .comment-content p {
	color: white;
}

#secondary span.srpw-post-title {
	color: whitesmoke !important;
}

.single .content-area h1,
.single .content-area h2,
.single .content-area h3,
#commentform .comment-notes,
#commentform label,
.sub-menu .iot-dot-menu-a,
.sub-menu .iot-dot-menu-a::after,
.sub-menu .menu-item a,
#secondary .widget .affiliate-hinweis.has-black-color *,
#secondary .widget .wp-block-heading {
	color: black;
}

.field-wrap input[type="button"] {
	color: #333 !important;
}

#gdpr-comments-checkbox + label {
    color: #5d5d5d;
}

input[type="search"],
input[type="submit"] {
    color: rgb(51, 51, 51) !important;
}

.comments-area .comment-awaiting-moderation {
    color: rgb(249, 223, 169);
}

html { 
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	min-height: 100vh;
	scrollbar-width: none;
	box-sizing: border-box;
	background: none !important;
}

html *:not(.fas) {
	font-family: 'LeagueSpartan', 'Open Sans', helvetica, 'helvetica neue', arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html #page h1,h2,h3,h4,h5,h6,.srpw-title {
	font-family: 'Open Sans Condensed', 'Open Sans', helvetica, 'helvetica neue', arial, sans-serif !important;
}

html #page #primary section :is(h1, h2, h3, h4, h5, h6, p) {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.yotu-video h3 {
	text-shadow: none;
}

::-webkit-scrollbar { 
    display: none; 
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	position: relative;
	min-height: 100vh;
}

html body .grid-container {
	max-width: 80rem;
}

#primary {
	padding: 0;
	margin-top: 30px;
}

.single #primary {
	margin-top: 0;
}

#secondary {
	margin-top: 31px
}

.footer-widgets-container {
	text-align: center;
	margin-top: 15px;
	padding-top: 20px;
}

.footer-container, .footer-widgets-container {
	background:#232323;
}

.main-navigation ul {
	float: left;
	width: 100%;
}

.main-navigation ul ul {
	background:#232323;
}


.home > #page, .search > #page {
	min-height: calc(100vh - 70px);
	margin-bottom: 0;
}

/* Navigation */
#header-wrap {
	display: grid;
	position: relative;
	height: 248px;
}

.home #header-wrap {
	height: auto;
}

.navigation-wrapper {
	padding-bottom: 0;
	background: transparent !important;
}

.navigation-wrapper, .content-wrap {
	grid-area: 1 / 1;
}

body.home .navigation-wrapper,
body.category .navigation-wrapper,
body.post-type-archive
body.single .navigation-wrapper {
	background: transparent !important;
	top: 0;
	z-index: 4;
	width: 100%;
}

body.home .navigation-wrapper,
body.archive .navigation-wrapper,
body.page .navigation-wrapper {
	box-shadow: none;
}

body.page .navigation-wrapper,
body.search .navigation-wrapper,
body.error404 .navigation-wrapper {
	background: #232323;
}

body.archive .navigation-wrapper {
	background: none;
}

.navigation-wrapper #masthead {
  position: relative;
  text-align: center;
  background-image: url("https://www.rueckenwin.de/wp-content/uploads/2023/11/klein-RueckenwindeBlackAndWhite.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 17%;
  height: 100%;
}


.navigation-wrapper #masthead #back-home{
	display: block;
	height: 100%;
	width: 18%;
	position: absolute;
	top: 0;
	left: 41%;
}

.single .navigation-wrapper .glass {
	display: block;
}

.site-branding {
	text-align: left;
}

.site-branding {
	z-index: 4;
}

.logo-container {
	width: 100%;
}

#primary-menu.menu {
	display: block;
	flex: none;
	width: 100%;
}

#primary-menu .sub-menu {
	background: white;
	width: auto;
	box-shadow: rgba(136, 165, 191, 0.48) -20px 2px 16px 0px, rgba(0, 0, 0, 0.8) -6px -2px 16px 0px !important;
	text-align: left;
  	padding-left: 15px;
}

#primary-menu .sub-menu .sub-menu {
	box-shadow: rgba(136, 165, 191, 0.48) 20px 2px 16px 0px, rgba(0, 0, 0, 0.8) 10px -2px 16px 0px !important;
}

#site-navigation {
	padding: 0;
	position: absolute;
	bottom: 0;
}

#site-navigation .menu-item,
.main-navigation .page_item {
	float: none;
  display: inline-flex;
}

#site-navigation .menu .page_item a,
#site-navigation .menu .menu-item a {
	line-height: 47px;
	padding: 0 1rem 0 0;
	z-index: 4;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#site-navigation .menu .sub-menu .menu-item a {
	text-shadow: none;
}

#site-navigation .menu .page_item:last-child a,
#site-navigation .menu .menu-item:last-child a {
	padding-right: 0;
}

.iot-dot-menu-a::after {
	vertical-align: middle;
}

.sub-menu .iot-dot-menu-a::after {
	top: 0;
	content: "\f105";
}

.grid-container {
	height: 100%;
}

.content-wrap {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding-bottom: 29px;
}

/* Responsive Header für rueckenwin.de frontpage */
.home .content-wrap {
    position: relative;
    width: 100%;
    padding-bottom: 56.22%; /* 768 / 1366 = 56.22% */
    background-size: cover !important; /* Überschreibt inline-style */
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 250px;
}


.glass {
	background-image: linear-gradient(180deg,#000000 35%,#000000 120%);
	opacity: .3;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

#header-wrap {
	background-position: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.5);
}  

.bottom-header-wrapper {
	position: relative;
	text-align: center;
}

.content-wrap .header-widget-area {
	position: absolute;
  	right: 2%;
  	top: 6%;
	z-index: 4;
}

.content-wrap .header-widget-area .sxc-follow-buttons .sxc-follow-button{
	display: initial !important;
}

body.post-type-archive-reiseziele .bottom-header-wrapper,
body.category-reiseziele .bottom-header-wrapper,
body.post-type-archive-reiseplanung .bottom-header-wrapper,
body.category-reiseplanung .bottom-header-wrapper,
body.post-type-archive-paragliding .bottom-header-wrapper,
body.category-paragliding .bottom-header-wrapper,
body.post-type-archive-vanlife .bottom-header-wrapper,
body.category-vanlife .bottom-header-wrapper,
body.single .bottom-header-wrapper {
	padding: 10% 0 6%;
}

#page {
 	margin-top: 0px;
}

.single #page {
	margin-top: 29px;
	margin-bottom: 0;
}

#site-description {
	text-align: center;
	margin-bottom: 5px;
}

html #site-description h1 {
	margin-bottom: 0;
}

html #site-description b {
	line-height: 10px;
}

#about {
	margin: 0px 0px 0px 0;
	padding: 10px 0 30px 0;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

#about-content {
	display: table;
	padding-top: 20px;
}

#about #picture {
	height: 100%;
	width: 20%;
	display:table-cell;
	vertical-align: middle;
}

#about #picture img {
	height: 40vh;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.5) !important;
	transform: rotate(8deg) translateX(-50%);
  margin-left: 50%;
}

#about #post {
	display: table-cell;
	vertical-align: middle;
	width: 80%;
	height: 100%;
	padding-right: 5%;
	padding-left: 5%;
}

#main .widget .master {
	height: 100%;
	display: block;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.5) !important;
	background-size: cover;
  height: 200px;
  background-position: center;
	border-radius: 20px 20px 0 0;
}

.master:not(:first-child) {
	margin-left: 5%;
}

.master .content {
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
  	top: 50%;
  	transform: translate(0, -50%);
}

.master .content h4 {
	margin: 0;
}

#primary #main .category-description {
	width: 100%;
	padding: 15px;
	margin-bottom: 31px;
	box-shadow: 0 0px 10px rgba(0,0,0,0.1) !important;
}

.category-description img {
	width: 20vw;
  float: left;
  margin: 0 20px 0px 0;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75) !important;
}

.category-description h1 {
	display: inline-block;
	float: none;
	width: auto;
}

.category-description p {
	margin-bottom: 0;
}

.random-posts {
	display: flex;
	flex-wrap: wrap;
}

.no-results {
	width: 100%;
}

.no-results .is-search-form {
	margin-bottom: 31px;
}

.social-icons a:last-child {
	padding-right: 0;
}

.footer-container {
    clear: both;
    text-align: center;
}

.astm-search-menu {
	margin: 0;
}

.footer-menu {
	float: left;
}

.footer-menu li:first-child a {
	margin-left: 0px;
}

/* Sidebar */
#secondary ul {
	word-break: break-all;
}

#secondary .catch-instagram-feed-gallery-widget-wrapper .overlay-icon {
	opacity: 0;
	position: relative;
	top: 0rem;
	right: 0rem;
}

#secondary .dashicons-video-alt3::before {
	font-family: dashicons;
}

#secondary .catch-instagram-feed-gallery-widget-wrapper .item {
	width: 50%;
}

#secondary .catch-instagram-feed-gallery-widget-wrapper.default .item:nth-child(3n+1) {
	clear: none;
}

#secondary .yotu-playlist {
	padding: 0;
}

#secondary .yotu-button-prs {
	background: none;
	padding: 5px;
}

/* Index widget area */
.index-widget-area {
	width: 100%;
}

.index-widget-area:nth-child(2n) {
	transform: translateY(-70px);
  	padding: 10px 10px;
}

.index-widget-area .srpw-block,
.index-widget-area .srpw-ul,
.index-widget-area .srpw-li,
.index-widget-area .srpw-content {
	height: 100%;
}

.index-widget-area .srpw-li {
	width: 30%;
	background-color: white;
	border: 5px solid white;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.1) !important;
	float: left;
	padding-top: 0;
	margin-right: 5%;
	padding: 0 !important;
	position: relative;
}

.index-widget-area .srpw-li:last-child {
	margin-right: 0;
}

.index-widget-area .srpw-content {
	/*Height of the image plus 10*/
	padding: 170px 10px 30px 10px;
	position: relative;
}

.index-widget-area .srpw-img,
.index-widget-area .srpw-thumbnail {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.index-widget-area .srpw-img {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	overflow: hidden;
}

.index-widget-area .srpw-img:hover img {
	transform: scale(1.2);
}

.index-widget-area section a {
	width: 100%;
}

.index-widget-area .srpw-more-link {
	position: absolute;
	bottom: 5px;
}

/* Index footer widget area */
.index-footer-widget-area {
	width: 100%;
}

.index-footer-widget-area .yotu-column-4 li {
  width: 24.2506%;
}

.index-footer-widget-area .yotu-pagination:first-child {
	display: none;
}

.index-footer-widget-area .yotu-playlist {
	width: 100%;
}

/* Single blog post & pages */
.post-thumbnail {
	position: absolute;
	top: 0;
}

.post-thumbnail img {
	object-fit: cover;
}

figure.is-type-video .wp-block-embed__wrapper {
	text-align: center;
}

.comments-area .edit-link .comment-edit-link {
	position: relative;
	top: 0;
}

.comments-area .comment-content {
    padding-left: 0px;
    margin-bottom: 0px;
}

.comments-area #cancel-comment-reply-link {
	padding-left: 80px;
}

.comments-area .comment-awaiting-moderation {
    margin-left: 20px;
}

.blog main article .img-prison,
.search-results main article .img-prison,
.archive main article .img-prison {
	height: 132px;
	overflow: hidden;
}

.blog main article,
.search-results main article,
.archive main article {
	box-shadow: 0 0px 10px rgba(0,0,0,0.1) !important;
	background: white;
}

.blog main article:first-child,
.search-results main article:first-child,
.archive main article:first-child {
	width: 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.blog main article:not(:first-child):nth-child(2n+1),
.search-results main article:not(:first-child):nth-child(2n+1),
.archive main article:not(:first-child):nth-child(2n+1) {
	margin-left: 4%;
}

.blog main article img,
.search-results main article img,
.archive main article img{
	height: 132px;
	object-fit: cover;
	transition: transform 1s ease-in-out;
}

.blog main article:hover img,
.search-results main article:hover img,
.archive main article:hover img{
	transform: scale(1.2);
}

.blog,
.search-results,
.archive {
	background:none;
}

/* Recent post widget */

#secondary .srpw-img img {
	border-radius: 100%;
}

#secondary .srpw-summary p,
#secondary .srpw-summary a {
	display: inline;
}

.blog.related-posts main {
    width: 100%;
}

.comments-title {
    margin-top: 0px;
}

.post-thumbnail img {
    width: 100%;
    height: auto;
    max-height: 300px;
}

nf-field .submit-container input[type="button"] {
	background: white;
	box-shadow: 0 0 70px -15px rgba(0,0,0,.65);
}

.site-info {
	padding-top: 15px;
}

.credits {
	float: right;
	padding-top: 2px;
}

.nf-form-content button, .nf-form-content input[type="button"], .nf-form-content input[type="submit"] {
	background: none !important;
	cursor: pointer;
}

/* Responsive Anpassungen */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .home .content-wrap {
        padding-bottom: 60%;
    }
}

@media screen and (max-width: 1376px) {

	.home #page {
		margin-top: 0px;
	}

	.is-form-style {
		position: inherit;
	}
}

@media screen and (max-width: 1024px) {
	#header-wrap {
		height: 184px;
	}

	.home #header-wrap {
		height: auto;
	}

	#primary-menu {
		display: none !important;
	}

	#site-navigation {
		top: 0;
	}

	.content-wrap .header-widget-area .sxc-follow-buttons .sxc-follow-button{ 
		display: none !important;
	}

	button.iot-menu-left-open {
		display: block;
		position: absolute;
    	left: 9px;
	}

	.blog main article:not(:first-child):nth-child(2n+1),
	.search-results main article:not(:first-child):nth-child(2n+1),
	.archive main article:not(:first-child):nth-child(2n+1) {
		margin-left: 0;
	}

	.index-widget-area .srpw-block,
	.index-widget-area .srpw-ul,
	.index-widget-area .srpw-li,
	.index-widget-area .srpw-content {
		height: auto;
	}

	.index-widget-area .srpw-li {
		float: none;
		width: 100%;
		margin-right: 0;	
	}
}

@media screen and (max-width: 1024px){
	.iot-menu-left-ul ul li a {
		padding-left: 35px;
	}

	.iot-menu-left-ul ul ul li a {
		padding-left: 55px;
	}
}

@media screen and (max-width: 950px) {
	.blog main, .search-results main, .archive main {
		display: flex;
	}
}

@media screen and ( max-width: 767px ) and ( orientation: landscape ) {

}

@media screen and ( max-width: 767px ) and ( orientation: portrait ) {
	
}

@media screen and ( max-width: 767px ) {
	html body .grid-container {
  		max-width: 75rem;
	}

	#header-wrap {
		height: 142px;
	}

	.home #header-wrap {
		height: auto;
	}

	#site-navigation {
		height: 100%;
	}

	.content-wrap {
		height: 100%;
	}

	.home .content-wrap {
        padding-bottom: 56%;
    }
	
	.bottom-header-wrapper {
		background-size: 36%;
	}

	#primary {
    	padding: 0px 15px;
  	}

	html #site-description b {
		display: block;
  		line-height: 10px;
	}

	.home #page .site-content.grid-x {
		margin: 0;
		width: 100%;
		margin-top: 0px;
	}

	#about #picture {
		width: 100%;
		height: auto;
		text-align: center;
		padding-bottom: 25px;
		display: inline-block;
	}

	#about #picture img {
		transform: rotate(0deg) translateX(0%);
		margin-left: 0;
	}
	
	#about #post {
		height: 100%;
		width: 100%;
		display: inline-block;
	}

}

@media screen and (max-width: 639px) {
	html body .grid-container {
		max-width: 70rem;
	}

  	#primary {
    	padding: 0px 15px;
  	}
}

@media screen and ( max-width: 575px ) {
	#header-wrap {
		height: 114px;
	}

	#site-navigation {
		top: 0;
	}

	.bottom-header-wrapper {
		background-size: 60%;
	}	
}

@media screen and (max-width: 480px) {
    .home .content-wrap {
        padding-bottom: 50%;
    }
}
